@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

body {
    font-family: "Trebuchet MS", "Lucida Sans", Arial, sans-serif;
    margin: 0;
}

h1,
h2 {}

/* Header */

#header {
    height: 100px;
    padding: 1rem;
    background-color: #0070c0;
    color: #FFFFFF;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 1fr;
    grid-template-areas: "header-left header-middle header-right";
    align-items: center;
    justify-content: center;
}

.header-left {
    display: flex;
    align-items: center;
    grid-area: header-left;
    grid-column-start: 1;
    grid-column-end: 2;
    width: 180px;
    margin-left: 10px;
}

.signup,
.signin {
    cursor: pointer;
}

.header-middle {
    padding: 0;
    font-size: 40px;
    grid-area: header-middle;
    grid-column-start: 2;
    grid-column-end: 3;
    justify-self: center; 
}

.logo {
    font-family: 'Luckiest Guy', cursive;
    font-size: 70px !important;
    color: #FFFFFF;
    text-shadow: 2px 2px 4px #000000;
}

.header-right {
    display: flex;
    align-items: center;
    grid-area: header-right;
    grid-column-start: 3;
    grid-column-end: 4;
    width: 180px;
    margin-right: 30px;
}

.icon1 {}

.icon2 {
    margin-right: 10px;
}

.icon3 {
}

.header-left {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 28px;
    grid-area: header-left;
    grid-column-start: 1;
    grid-column-end: 2;
    width: 200px;
    margin-left: 10px;
}

.signup, .signin {
    cursor: pointer;
}

.header-middle {
    padding: 5px;
    font-size: 50px;
    grid-area: header-middle;
    grid-column-start: 2; 
    grid-column-end: 3;
    justify-self: center;
}

.header-right {
    display: flex;
    align-items: center;
    grid-area: header-right;
    grid-column-start: 3;
    grid-column-end: 4;
    width: 200px;
}

.icon1 {

}

.icon2 {
    margin-right: 15px;
}

.icon3 {
    margin-right: 35px;
}

/* Main */

#main {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main--layout {
    display: grid;
    grid-template-columns: auto 1fr auto;
    place-content: center;
    background-color: #FFFFFF;
    justify-content: center;
    align-items: center;
}

.arrow-icon {

}

.arrow-left {
margin-right: 100px;
}

.arrow-right {
margin-left: 100px;
}

.content {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 650px;
    width: 1350px;
}

.shop--css {
    background-color: #f18213;
    color: #FFFFFF;
    text-align: center;
    width: 100%;
    height: 80px;
    margin: 0;
    font-size: 55px;
    padding: 8px 0;
    font-family: "Century Gothic", "Arial", sans-serif;
}

.description--css {
    color: #f18213;
    text-align: center;
    margin: 0;
    font-size: 32px;
    padding: 8px 0;
    margin-top: 30px;
}


.box {
    border: 2px solid #f18213;
    width: 1300px;
    height: 74%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.product-image {
    display: block;
    margin: 0 auto;
    height: 400px;
}

.box h2 {
    margin: 0;
    font-size: 32px;
    padding: 8px 0;
}

.box p {
    margin: 0;
    margin-top: 24px;
    font-size: 25px;
}

.box img {
    max-height: 350px;
}

.box-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

.info-column.store {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: calc(50% - 55px);
}

.info-column {
    width: 50%;
    margin: 10px;
}

.date {
    text-align: left;
    color: #f18213;
}

.store {
    text-align: center;
    color: #f18213;
    width: 680px;
}

.game {
    text-align: right;
    color: #f18213;
}

.timer {
    font-size: 2rem;
    color: #fff;
    text-align: center;
    padding: 0.5rem;
    background-color: #f18213;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    margin: 0 auto;
}

.img-count-left {
    display: inline-block;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin-top: 15px;
}

.img-count-right {
    display: inline-block;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin-top: 15px;
}

.image-counter img {
    width: 55px;
    height: 55px;
    margin: 0 5px;
}

.image-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.space1 {
    width: 100px;
}

.space2 {
    width: 100px;
}

.space3 {
    width: 200px;
}

.space4 {
    width: 200px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

.prev-product-button {
    width: 200px;
    height: 80px;
    font-size: 30px;
    padding: 10px 20px;
    background-color: #f18213;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 20px
}

.next-product-button {
    width: 200px;
    height: 80px;
    font-size: 30px;
    padding: 10px 20px;
    background-color: #f18213;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 20px
}

.submit-guess-button {
    background-color: rgb(5, 175, 5);
}

.result {
    margin: 0;
    font-size: 18px;
    color: #f00;
}

.box-submit {
    margin-top: 10px;
    border: 2px solid #0070c0;
    height: 700px;
    width: 550px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.h1-submit,
.guess-amount,
.submit-button {
    max-width: 400px;
    width: 100%;
}

.main--layout--submit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
}

.h1-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0070c0;
    font-size: 1.75rem;
}

.guess-amount {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 2;
    grid-column: 1;
}

.guess-amount>input {
    height: 93px;
    width: 150px;
    border-color: #0070c0;
    color: black;
    font-size: 2.5rem;
    justify-content: center;
    text-align: center;
}

.blue-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: blue;
    color: white;
    font-size: 24px;
    margin-right: 10px;
}

.guess-amount>.blue-box {
    background-color: #0070c0;
    color: white;
    font-size: 4rem;
    height: 100px;
    width: 120px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-button-styling {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0070c0;
    color: #ffffff;
    height: 100px;
    width: 300px;
    border-radius: 8%;
    font-size: 2rem;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
}

.submit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0070c0;
    padding: 0;
    margin-top: 30px;
}

.valid-input {
    background-color: rgb(5, 175, 5);
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Results Section */

.box-results {
    margin-top: 10px;
    border: 2px solid #0070c0;
    height: 700px;
    width: 550px;
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.guess-results,
.error-results,
.percentile-results {
    grid-row: auto;
    grid-column: 1;
}

.h1-results,
.guess-results,
.error-results,
.percentile-results,
.statistics-results {
    max-width: 400px;
    width: 100%;
}

.main--layout--results {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 83vh;
}

.h1-results {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0070c0;
    font-size: 1rem;
    grid-row: 1;
    grid-column: 1;
}

.guess-results {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 2;
    grid-column: 1;
    margin-bottom: 5px;
}

.guess-results>p {
    height: 96px;
    width: 150px;
    border-color: #0070c0;
    color: black;
    font-size: 2.5rem;
    justify-content: center;
    text-align: center;
    margin: 0;
    border: 2px solid #0070c0;
}

.guess-results p,
.error-results p,
.percentile-results p {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.guess-results>.guessed-box {
    background-color: #0070c0;
    color: white;
    font-size: 3rem;
    height: 100px;
    width: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-results {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 3;
    grid-column: 1;
    margin-bottom: 5px;
}

.error-results>p {
    height: 96px;
    width: 150px;
    border-color: #0070c0;
    color: rgb(249, 7, 7);
    font-size: 2.5rem;
    justify-content: center;
    text-align: center;
    margin: 0;
    border: 2px solid #0070c0;
}

.error-results>.error-box {
    background-color: #0070c0;
    color: white;
    font-size: 2rem;
    height: 100px;
    width: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.percentile-results {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 4;
    grid-column: 1;
}

.percentile-results>p {
    height: 96px;
    width: 150px;
    border-color: #0070c0;
    color: black;
    font-size: 2.5rem;
    justify-content: center;
    text-align: center;
    margin: 0;
    border: 2px solid #0070c0;
}

.percentile-results>.percentile-box {
    background-color: #0070c0;
    color: white;
    font-size: 2rem;
    height: 100px;
    width: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.statistics-button-styling {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0070c0;
    color: #fff;
    height: 75px;
    width: 200px;
    border-radius: 8%;
    font-size: 2rem;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
}

.statistics-results {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.share-button-styling {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0070c0;
    color: #fff;
    height: 75px;
    width: 200px;
    border-radius: 8%;
    font-size: 2rem;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
}

.share-results {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.feedback-button-styling {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #262829;
    color: #fff;
    height: 75px;
    width: 200px;
    border-radius: 8%;
    font-size: 2rem;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
}

.feedback-results {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}