body {
    font-family: "Trebuchet MS", "Lucida Sans", Arial, sans-serif;
}

h1,
h2 {}

/* Header */

#header {
    height: 8vh;
    padding: 1rem;
    background-color: #0070c0;
    color: #f7f7f7;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 1fr;
    grid-template-areas: "header-left header-middle header-right";
}

.header-left {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 30px;
    grid-area: header-left;
    grid-column-start: 1;
    grid-column-end: 2;
    width: 150px;
    margin-left: 20px;
}

.signup .signin {
    padding: 5px;
}

.header-middle {
    padding: 5px;
    font-size: 50px;
    grid-area: header-middle;
    justify-self: center;
}

.header-right {
    display: flex;
    align-items: center;
    grid-area: header-right;
    grid-column-start: 3;
    grid-column-end: 4;
    width: 150px;
    margin-right: 20px;
}

.icon1,
.icon2,
.icon3 {
    padding: 5px;
}

/* Main */

#main {
    height: 65vh;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main--layout {
    display: grid;
    grid-template-columns: auto 1fr auto;
    place-content: center;
    height: 65vh;
    background-color: #f7f7f7;
    justify-content: center;
    align-items: center;
}

.arrow-l {
    grid-column: 1;
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: relative;
}

.arrow-l::before {
    content: '';
    display: inline-block;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 20px solid #f18213;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
}

.arrow-r {
    grid-column: 3;
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: relative;
}

.arrow-r::before {
    content: '';
    display: inline-block;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 20px solid #f18213;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
}

.content {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.shop--css {
    background-color: #f18213;
    color: #fff;
    padding: 10px;
    border: 2px solid #f18213;
    text-align: center;
}

.description--css {
    color: #f18213;
    text-align: center;
    margin-top: 10px;
}

.box {
    margin-top: 10px;
    border: 2px solid #f18213;
    height: 550px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-image {
    display: block;
    margin: 0 auto;
    width: 400px;
    height: 400px;
    margin-top: 10px;
}

.box h2 {
    margin: 0;
    font-size: 32px;
}

.box p {
    margin: 0;
    margin-top: 15px;
    font-size: 18px;
}

.box img {
    max-height: 400px;
    max-width: 100%;
}

.box-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timer {
    font-size: 2rem;
    color: #fff;
    text-align: center;
    padding: 0.5rem;
    background-color: #f18213;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    margin: 0 auto;
}

.image-counter {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin-top: 15px;
}

.image-counter img {
    width: 30px;
    height: 30px;
    margin: 0 5px;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.input-box {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 60px;
    width: 150px;
    height: 180px;
    background-color: #f18213;
    margin-right: 10px;
}

.box input[type='text'] {
    width: 150px;
    height: 155px;
    font-size: 80px;
    font-weight: 800;
    padding: 10px;
    border: 2px solid #f18213;
    border-bottom: 2px solid black;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
    max-width: 240px;
    margin-top: 20px;
}

.submit-button {
    width: 200px;
    height: 80px;
    font-size: 40px;
    padding: 10px 20px;
    background-color: #f18213;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 20px;
}

.result {
    margin: 0;
    font-size: 18px;
    color: #f00;
}