.landing-page {
  place-items: center;
  border: 2px solid #0070c0;
  margin: 50px auto;
  width: 400px;
  padding: 30px;
}

.form {
  display: grid;
  background-color: #fff;
  border-radius: 10px;
  justify-items: center;
  align-items: center;
}

.landing-page h1 {
  font-size: 3rem;
  color: #0070c0;
  margin-top: 8px;
}

.form label {
  margin-bottom: 20px;
}

.login-inputs {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: auto;
  align-items: center;
  margin-bottom: 10px;
}

.form input[type="email"],
.form input[type="password"],
.form input[type="text"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
}

.form button[type="submit"]:hover {
  background-color: #005693;
}

.switch-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.switch-text {
  color: #0070c0;
  cursor: pointer;
  transition: color 0.2s;
}

.switch-text:hover {
  color: #004d99;
}

#landing-page-menu h2 {
  font-size: 2.4rem;
  text-align: center;
  margin-top: 8px
}

#landing-page-menu button,
.form button {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  padding: 16px;
  font-size: 1rem;
  min-width: 150px;
  border-radius: 10px;
  border: none;
  color: #fff;
}

#landing-page-menu button:hover,
.form button:hover {
  background-color: #005693;
}

.play-btn,
.login-btn {
  font-weight: bold;
  background-color: #0070c0;
}

.other-btn {
  background-color: #3f3f3f;
}