@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

.landing-page {
  place-items: center;
  border: 2px solid #0070c0;
  margin: auto;
  width: 400px;
  padding: 30px;
  height: 630px;
}

.form {
  display: grid;
  background-color: #fff;
  border-radius: 10px;
  justify-items: center;
}

.landing-page h1 {
  font-size: 3rem;
  color: #0070c0;
  margin-top: 8px;
  height: 80%;
}

.form label {
  margin-bottom: 20px;
}

.form input[type="email"],
.form input[type="password"],
.form input[type="text"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
  height: 24px
}

.form button[type="submit"]:hover {
  background-color: #005693;
}

.switch-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.switch-text {
  color: #0070c0;
  cursor: pointer;
  transition: color 0.2s;
}

.switch-text:hover {
  color: #004d99;
}

#login-header h2 {
  font-size: 2.4rem;
  text-align: center;
  margin-top: 8px;
}

#landing-page-menu button,
.form button {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  padding: 16px;
  font-size: 1rem;
  min-width: 150px;
  border-radius: 10px;
  border: none;
  color: #fff;
}

#landing-page-menu button:hover,
.form button:hover {
  background-color: #005693;
}

.play-btn,
.login-btn {
  font-weight: bold;
  background-color: #0070c0;
}

.other-btn {
  background-color: #3f3f3f;
}

.trolley-image {
  margin-bottom: 10px;
  width: 175px;
  height: 131px;
}

.trolley-image2 {
  width: 175px;
  height: 131px;
}

.users-first-name {
  color: #fff;
  margin-left: 15px;
  font-size: 40px;
}

.logo-landing {
  font-family: 'Luckiest Guy', cursive;
  font-size: 55px !important;
  color: #0070c0;
  text-shadow: 2px 2px 4px #000000;
}

.trolley-icon {
  width: 150px;
  height: 150px;
  /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); */
}